<?xml version="1.0" encoding="UTF-8"?>

<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="30 seconds">

	<!-- 외부 설정파일을 사용할 수 있다. -->
	<property resource="resource.properties" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/common.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>common.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/monitor.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>monitor.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<logger name="org.springframework" level="debug" />
	<logger name="common" level="debug" />
	<logger name="common.LogUtil" level="info"/>
	<logger name="MONITOR" level="info" additivity="false">
		<appender-ref ref="MONITOR" />
		<appender-ref ref="console" />
	</logger>

	<if condition='property("RUN_MODE").equals("SERVICE")'>
		<then>
			<property scope="context" name="level" value="info" />
		</then>
		<else>
			<property scope="context" name="level" value="debug" />
		</else>
	</if>

	<root level="${level}">
		<appender-ref ref="console" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
